.groupCta {
  cursor: pointer;
  border: 0;
  padding: var(--pixel-10);
  background-color: transparent;
  border-radius: var(--pixel-10);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--pixel-10);
  opacity: 0.5;
  transition: var(--transit);
}

.groupCta:hover {
  opacity: 1;
}

.groupCtaText {
  position: relative;
  font-size: var(--font-xsm);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-primary);
  text-align: center;
}

.groupCtaIcon {
  width: auto;
  position: relative;
  height: var(--pixel-15);
}
