.tabButtonText {
  flex: 1;
  position: relative;
  font-size: var(--font-xsm);
  font-weight: 500;
  font-family: var(--font-inter);
  color: inherit;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--pixel-15);
  background-color: transparent;
  height: var(--pixel-70);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  gap: var(--pixel-10);
  flex-direction: row;
  align-items: center;
  color: var(--color-secondary);
  justify-content: center;
  box-sizing: border-box;
  max-width: var(--pixel-200);
  transition: var(--transit);
}

.tabButton:hover {
  color: var(--color-primary);
}

.tabButton.active {
  color: var(--color-primary);
  box-shadow: inset 0 var(--pixel-min-5) 0 0 var(--color-primary);
}
