.tabSubButtonText {
  flex: 1;
  position: relative;
  font-size: var(--font-xsm);
  font-weight: 500;
  font-family: var(--font-inter);
  color: inherit;
  text-align: left;
}

.tabSub,
.tabSubButton {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

.tabSubButton {
  cursor: pointer;
  border: 0;
  padding: 0 var(--pixel-15);
  background-color: transparent;
  align-self: stretch;
  border-bottom: 1px solid var(--color-secondlight-20);
  box-sizing: border-box;
  height: var(--pixel-50);
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  color: var(--color-secondlight);
  transition: var(--transit);
}

.tabSubButton:last-child {
  border-bottom: unset;
}

.tabSubButton:hover {
  background-color: var(--color-secondlight-10);
}

.tabSub {
  position: absolute;
  top: var(--pixel-70);
  left: 0;
  width: var(--pixel-200);
  border-radius: 0 0 var(--pixel-10) var(--pixel-10);
  background-color: var(--color-primary);
  flex-direction: column;
  align-items: flex-start;
}

.tabButtonText {
  flex: 1;
  position: relative;
  font-size: var(--font-xsm);
  font-weight: 500;
  font-family: var(--font-inter);
  color: inherit;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabButton {
  position: relative;
  cursor: pointer;
  border: 0;
  padding: 0 var(--pixel-15);
  background-color: transparent;
  height: var(--pixel-70);
  flex-shrink: 0;
  display: flex;
  gap: var(--pixel-10);
  flex-direction: row;
  align-items: center;
  color: var(--color-secondary);
  justify-content: center;
  box-sizing: border-box;
  max-width: var(--pixel-200);
  transition: var(--transit);
}

.tabButton:hover {
  color: var(--color-primary);
}

.tabButton.active {
  color: var(--color-primary);
  box-shadow: inset 0 var(--pixel-min-5) 0 0 var(--color-primary);
}
