.navLogoIcon {
  width: auto;
  position: relative;
  height: var(--pixel-40);
  object-fit: cover;
}

.navOption {
  overflow: hidden;
  justify-content: center;
  gap: var(--pixel-10);
}

.navMenu,
.navMenuHscroll,
.navOption,
.navTop {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navTop {
  align-self: stretch;
  height: var(--pixel-70);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: space-between;
}

.navMenu,
.navMenuHscroll {
  flex: 1;
  justify-content: flex-start;
}

.navMenuHscroll {
  overflow-x: auto;
  max-width: 600px;
}

.navMenuHscroll::-webkit-scrollbar {
  height: 0;
}

.navMenuHscroll::-webkit-scrollbar-track {
  background: transparent;
}

.navMenuHscroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: var(--pixel-5);
}

.navMenu {
  margin: 0;
  overflow: hidden;
}

.navBottom,
.navSearch,
.navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.navSearch {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  max-width: var(--pixel-300);
}

.navBottom {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--pixel-10);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: var(--color-secondlight);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--pixel-50);
  transform: translateY(0);
  transition: var(--transit);
}

.navbar.scroll {
  transform: translateY(var(--pixel-min-70));
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

@media (max-width: 910px) {
  .navbar {
    padding: 0 var(--pixel-30);
  }
}

@media (max-width: 700px) {
  .navbar {
    padding: 0 var(--pixel-20);
  }
}
