.cardTitle {
  position: relative;
  max-width: var(--pixel-150);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
}

.unionIcon {
  width: auto;
  position: relative;
  height: var(--pixel-10);
}

.postdetNav {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--pixel-10);
  text-align: left;
  font-size: var(--font-xsm);
  color: var(--color-secondary);
  font-family: var(--font-inter);
}

.postdetDetail,
.postdetTitle {
  align-self: stretch;
  position: relative;
}

.postdetTitle {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.postdetDetail {
  font-size: var(--font-sm);
  font-family: var(--font-inter);
  color: var(--color-secondary-50);
  text-align: justify;
}

.postdetHead {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pixel-20);
  text-align: left;
  font-size: var(--font-lg);
  color: var(--color-secondary);
  font-family: var(--font-jakarta);
}

.postdetArticle,
.postdetBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.postdetBody {
  align-self: stretch;
  position: relative;
  line-height: 135%;
  font-weight: 500;
  white-space: pre-wrap;
}

.postdetBody ul,
.postdetBody ol {
  margin-left: var(--pixel-20);
  padding-left: var(--pixel-20);
}

.postdetBody ul {
  list-style-type: disc;
}

.postdetBody ol {
  list-style-type: decimal;
}

.postdetBody h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.postdetBody h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.postdetBody img,
.postdetBody video,
.postdetBody iframe {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.postdetArticle {
  flex: 1;
  min-width: var(--pixel-500);
  border-radius: var(--pixel-20);
  background-color: var(--color-secondlight);
  overflow: hidden;
  padding: var(--pixel-20);
  gap: var(--pixel-20);
  text-align: justify;
  font-size: var(--font-sm);
  color: var(--color-secondary);
  font-family: var(--font-inter);
}

@media (min-width: 607px) {
  .postdetArticle {
    min-width: unset;
  }
}
