.sectionTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sectionTitlewrap {
  flex: 1;
  border-left: var(--pixel-5) solid var(--color-hint);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--pixel-5) var(--pixel-10);
}

.sectionHead {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--pixel-10);
}

.sectionHead {
  align-self: stretch;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-md);
  color: var(--color-secondary);
  font-family: var(--font-jakarta);
}
