.tabButtonText {
  flex: 1;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: inherit;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabButton {
  cursor: pointer;
  border: 0;
  padding: 0 15px;
  background-color: transparent;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  color: var(--color-secondary);
  justify-content: center;
  box-sizing: border-box;
  max-width: 120px;
  transition: var(--transit);
}

.tabButton:hover {
  color: var(--color-primary);
}

.tabButton.active {
  color: var(--color-primary);
  box-shadow: inset 0 -5px 0 0 var(--color-primary);
}
