.sectionBody {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.sectionDesc,
.sectionTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.sectionDesc {
  font-size: var(--font-sm);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-secondary);
}

.sectionHead {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--pixel-15);
  text-align: center;
  font-size: var(--font-lg);
  color: var(--color-primary);
  font-family: var(--font-jakarta);
}

.sectionNav,
.sectionTool {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.sectionTool {
  /* flex: 1; */
  justify-content: center;
  gap: var(--pixel-10);
}

.sectionNav {
  margin: 0;
  align-self: stretch;
  justify-content: space-between;
  gap: var(--pixel-10) var(--pixel-10);
}

.section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 80vh;
  padding: var(--pixel-20) var(--pixel-70);
  gap: var(--pixel-20);
}

@media (max-width: 910px) {
  .section {
    padding: var(--pixel-20) var(--pixel-30);
  }
}

@media (max-width: 700px) {
  .section {
    padding: var(--pixel-20);
  }
}
