.textHint {
  color: var(--color-primary);
}

.groupTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.groupHeadwrap,
.groupTitlewrap {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.groupTitlewrap {
  flex: 1;
  padding: 5px 10px;
}

.groupHeadwrap {
  align-self: stretch;
  border-bottom: 1px solid var(--color-primary-20);
  padding: 10px 0;
}

.groupHead {
  align-self: stretch;
  justify-content: center;
  padding: 0 10px;
  text-align: left;
  font-size: 18px;
  color: var(--color-secondary);
  font-family: var(--font-jakarta);
}

.groupBody,
.groupBodyVscroll,
.groupHead,
.newsGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groupBody {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
}

.groupBodyVscroll,
.newsGroup {
  flex: 1;
}

.groupBodyVscroll {
  align-self: stretch;
  overflow-y: auto;
  justify-content: flex-start;
  padding: 10px;
}

.groupBodyVscroll::-webkit-scrollbar {
  width: 5px;
}

.groupBodyVscroll::-webkit-scrollbar-track {
  background: transparent;
}

.groupBodyVscroll::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.groupBodyVscroll:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

.newsGroup {
  border-radius: 20px;
  background-color: var(--color-secondlight);
  height: 450px;
  overflow: hidden;
  justify-content: center;
  min-width: 300px;
}
