.cardTitle,
.catCard {
  flex: 1;
  overflow: hidden;
}

.cardTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 2;
}

.catCard {
  cursor: pointer;
  position: relative;
  border-radius: var(--pixel-10);
  height: var(--pixel-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--pixel-10) var(--pixel-20);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: var(--pixel-200);
  max-width: var(--pixel-250);
  text-align: left;
  font-size: var(--font-md);
  color: var(--color-secondlight);
  font-family: var(--font-jakarta);
}

.catCard:hover::before {
  background: rgba(0, 0, 0, 0.6);
}

.catCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  transition: var(--transit);
}

@media (max-width: 392px) {
  .catCard {
    min-width: var(--pixel-200);
  }
}
