.isIcon {
  width: var(--pixel-20);
  height: var(--pixel-20);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: inherit;
  transition: var(--transit);
}

.isIcon.flipped {
  transform: scaleY(-1);
}
