.cardTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: -webkit-inline-box;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardHead,
.cardShort,
.cardTitle {
  align-self: stretch;
  overflow: hidden;
}

.cardShort {
  margin: 0;
  position: relative;
  font-size: var(--font-xsm);
  font-weight: 500;
  font-family: var(--font-inter);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardHead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--pixel-10);
  font-size: var(--font-md);
  font-family: var(--font-jakarta);
}

.cardLoc {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardInfo,
.cardLocWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.cardLocWrap {
  overflow: hidden;
  padding: var(--pixel-5) 0;
  box-sizing: border-box;
  max-width: var(--pixel-100);
}

.cardInfo {
  align-self: stretch;
  gap: var(--pixel-5);
  color: var(--color-secondlight-50);
}

.cardContent {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--pixel-5) var(--pixel-10);
  gap: var(--pixel-5);
  z-index: 2;
}

.newsDisplayCard {
  cursor: pointer;
  position: relative;
  border-radius: var(--pixel-20);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--pixel-10);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  font-size: var(--font-tiny);
  color: var(--color-secondlight);
  font-family: var(--font-inter);
}

.newsDisplayCard::before {
  opacity: 0.9;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95));
  z-index: 1;
  transition: var(--transit);
}

.newsDisplayCard:hover::before {
  opacity: 1;
}
