.groupTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.groupTitlewrap {
  flex: 1;
  border-left: var(--pixel-5) solid var(--color-hint);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--pixel-5) var(--pixel-10);
}

.groupHead,
.groupHeadwrap {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.groupHeadwrap {
  border-bottom: 1px solid var(--color-primary-20);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--pixel-10) 0;
  gap: var(--pixel-10);
}

.groupHead {
  flex-direction: column;
  justify-content: center;
  padding: 0 var(--pixel-10);
  text-align: left;
  font-size: var(--font-md);
  color: var(--color-primary);
  font-family: var(--font-jakarta);
}

.groupBody {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.groupBody.portrait {
  flex: 1;
  overflow-x: auto;
  flex-direction: row;
  justify-content: flex-start;
}

.groupBody.landscape {
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}

.groupBodyVscroll {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: var(--pixel-10);
  transition: var(--transit);
}

.groupBodyVscroll.portrait {
  overflow: hidden;
  flex-direction: row;
}

.groupBodyVscroll.landscape {
  overflow-y: auto;
  flex: 1;
  flex-direction: column;
}

.groupBodyVscroll.landscape::-webkit-scrollbar {
  width: var(--pixel-5);
}

.groupBodyVscroll.landscape::-webkit-scrollbar-track {
  background: transparent;
}

.groupBodyVscroll.landscape::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: var(--pixel-5);
}

.groupBodyVscroll.landscape:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

.newsSummaryGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--pixel-20);
  background-color: var(--color-secondlight);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
}

.newsSummaryGroup.landscape {
  height: var(--pixel-550);
}

@media (min-width: 701px) and (max-width: 754px) {
  .newsSummaryGroup.landscape.primary {
    height: var(--pixel-830);
  }
}

@media (min-width: 464px) and (max-width: 613px) {
  .newsSummaryGroup.landscape.primary {
    height: var(--pixel-830);
  }
}
