.newsSection,
.sectionBody {
  align-self: stretch;
  display: flex;
  gap: var(--pixel-10);
}

.sectionBody {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.newsSection {
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--pixel-20) var(--pixel-70);
}

@media (max-width: 910px) {
  .newsSection {
    padding: var(--pixel-20) var(--pixel-30);
  }
}

@media (max-width: 700px) {
  .newsSection {
    padding: var(--pixel-20);
  }
}
