.heroContent,
.heroSection {
  align-self: stretch;
  display: flex;
}

.heroContent {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--pixel-10);
}

.heroSection {
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--pixel-20) var(--pixel-70);
}

@media (max-width: 910px) {
  .heroSection {
    padding: var(--pixel-20) var(--pixel-30);
  }
}

@media (max-width: 700px) {
  .heroSection {
    padding: var(--pixel-20);
  }
}
