.catAdmCard {
  background-color: var(--color-secondlight);
  border-radius: var(--pixel-20);
  padding: var(--pixel-10);
  gap: var(--pixel-10);
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
  display: flex;
}

.catAdmCard,
.cardHead,
.cardTitle,
.cardShort {
  overflow: hidden;
}

.cardImage {
  border-radius: var(--pixel-10);
  width: var(--pixel-150);
  height: var(--pixel-150);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--pixel-10);
  box-sizing: border-box;
}

.cardContent {
  overflow: hidden;
  padding: 0 var(--pixel-10);
  gap: var(--pixel-10);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

.cardHead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  gap: var(--pixel-10);
}

.cardTitle {
  font-family: var(--font-jakarta);
  font-size: var(--font-sm);
  font-weight: 700;
  color: var(--color-secondary);
  align-self: stretch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardShort {
  margin: 0;
  font-family: var(--font-inter);
  font-size: var(--font-xsm);
  font-weight: 500;
  color: var(--color-secondary);
  align-self: stretch;
  display: -webkit-inline-box;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
