.cardTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: -webkit-inline-box;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardHead,
.cardShort,
.cardTitle {
  align-self: stretch;
  overflow: hidden;
}

.cardShort {
  margin: 0;
  position: relative;
  font-size: var(--font-xsm);
  font-weight: 500;
  font-family: var(--font-inter);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardHead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--pixel-10);
}

.cardLoc {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardInfo,
.cardLocWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.cardLocWrap {
  overflow: hidden;
  padding: var(--pixel-5) 0;
  box-sizing: border-box;
  max-width: var(--pixel-100);
}

.cardInfo {
  align-self: stretch;
  gap: var(--pixel-5);
  font-size: var(--font-tiny);
  color: var(--color-secondary-50);
  font-family: var(--font-inter);
}

.cardContent {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--pixel-5);
  gap: var(--pixel-10);
}

.cardLabelText {
  flex: 1;
  position: relative;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardLabel {
  z-index: 1;
  border-radius: 0 var(--pixel-5) 0 0;
  background-color: var(--color-primary);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--pixel-5) var(--pixel-10);
  box-sizing: border-box;
  max-width: var(--pixel-95);
}

.cardImage,
.newsFeedCard {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
}

.cardImage {
  position: relative;
  width: var(--pixel-100);
  border-radius: var(--pixel-5);
  height: var(--pixel-100);
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-tiny);
  color: var(--color-secondlight);
  font-family: var(--font-inter);
}

.newsFeedCard {
  position: relative;
  cursor: pointer;
  align-self: stretch;
  border-radius: 0;
  border-bottom: 1px solid var(--color-secondary-20);
  flex-direction: row;
  justify-content: center;
  padding: var(--pixel-10);
  gap: var(--pixel-10);
  text-align: left;
  font-size: var(--font-sm);
  color: var(--color-secondary);
  font-family: var(--font-jakarta);
  transition: var(--transit);
}

.newsFeedCard:last-child {
  border-bottom: 1px solid transparent;
}

.newsFeedCard:hover {
  border-radius: var(--pixel-15);
  border-bottom: 1px solid transparent;
  background-color: var(--color-secondary-5);
  color: var(--color-primary);
}
