.cardImage {
  position: relative;
  align-self: stretch;
  border-radius: var(--pixel-10);
  height: var(--pixel-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--pixel-10);
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cardTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: -webkit-inline-box;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cardHead,
.cardShort,
.cardTitle {
  align-self: stretch;
  overflow: hidden;
}

.cardShort {
  margin: 0;
  position: relative;
  font-size: var(--font-xsm);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-secondary);
  display: -webkit-inline-box;
  text-overflow: ellipsis;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.cardHead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--pixel-10);
}

.cardLoc {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardInfo,
.cardLocWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.cardLocWrap {
  overflow: hidden;
  padding: var(--pixel-5) 0;
  box-sizing: border-box;
  max-width: var(--pixel-100);
}

.cardInfo {
  align-self: stretch;
  gap: var(--pixel-5);
  font-size: var(--font-tiny);
  color: var(--color-secondary-50);
  font-family: var(--font-inter);
}

.cardContent,
.newsCard {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cardContent {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--pixel-10);
}

.newsCard {
  position: relative;
  border-radius: var(--pixel-20);
  cursor: pointer;
  background-color: var(--color-secondlight);
  height: var(--pixel-400);
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--pixel-10);
  box-sizing: border-box;
  gap: var(--pixel-10);
  min-width: var(--pixel-300);
  max-width: var(--pixel-400);
  text-align: left;
  font-size: var(--font-sm);
  color: var(--color-secondary);
  font-family: var(--font-jakarta);
  transition: var(--transit);
}

.newsCard:hover {
  color: var(--color-primary);
}
